.ai {
    width: calc( var(--grid-cell)* 1 );
    height: calc( var(--grid-cell)* 1 );
    position: absolute;
    overflow:hidden;
  }
  
/*facing direction */  
.ai[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -16);
 }
.ai[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
 }
.ai[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -48 );
 }