:root {
  --pixel-size: 3px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --bg: #9fa7e4;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 4px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 5px;
  }
}
/* @media( min-width: 1000px ) {
  :root {
     --pixel-size: 5px;
  }
} */

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}