  .map {
    image-rendering: pixelated;
    /* background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png"); */
    background-size: 100%;
    position: relative;
  }
  
  .pixel-art {
    image-rendering: pixelated;
  }
  